## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

# city_data_df = pd.read_csv("/Users/bobc/Repositories/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv")

city_data_df

,City_Id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aswan,EG,24.0934,32.9070,67.42,21,0,16.33,clear sky
1,1,Kapaa,US,22.0752,-159.3190,79.00,73,40,3.44,scattered clouds
2,2,Avera,US,33.1940,-82.5271,84.20,48,75,14.97,broken clouds
3,3,Esperance,AU,-33.8667,121.9000,53.60,94,75,5.75,broken clouds
4,4,Russell,US,32.3502,-85.1999,82.40,54,75,9.22,broken clouds
...,...,...,...,...,...,...,...,...,...,...
635,635,Stromness,GB,58.9650,-3.2960,46.40,76,100,17.27,overcast clouds
636,636,Vadgaon,IN,20.9402,74.8712,83.37,14,0,5.70,clear sky
637,637,Centralia,US,46.7162,-122.9543,50.00,81,90,3.44,overcast clouds
638,638,Kaeo,NZ,-35.1000,173.7833,67.19,71,100,9.84,overcast clouds
639,639,Ishigaki,JP,24.3448,124.1572,70.14,72,0,13.71,clear sky

In [6]:
##### 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 75

,City_Id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aswan,EG,24.0934,32.9070,67.42,21,0,16.33,clear sky
23,23,Touros,BR,-5.1989,-35.4608,73.40,100,90,3.44,overcast clouds
24,24,Casma,CL,-41.0082,-73.1244,66.20,37,0,10.36,clear sky
30,30,Port Alfred,ZA,-33.5906,26.8910,68.56,85,68,13.94,broken clouds
34,34,Berwick,US,41.0545,-76.2333,70.00,71,100,7.31,overcast clouds
43,43,Hermanus,ZA,-34.4187,19.2345,73.00,72,95,5.01,overcast clouds
45,45,Bethel,US,41.3712,-73.4140,73.40,53,1,8.05,clear sky
47,47,Antofagasta,CL,-23.6500,-70.4000,73.00,72,20,16.11,few clouds
49,49,Albany,US,42.6001,-73.9662,71.01,70,80,2.57,broken clouds
55,55,Mar Del Plata,AR,-38.0023,-57.5575,66.20,100,90,13.80,moderate rain

In [17]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

hotel_df = preferred_cities_df
hotel_df.head(10)

,City_Id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aswan,EG,24.0934,32.9070,67.42,21,0,16.33,clear sky
23,23,Touros,BR,-5.1989,-35.4608,73.40,100,90,3.44,overcast clouds
24,24,Casma,CL,-41.0082,-73.1244,66.20,37,0,10.36,clear sky
30,30,Port Alfred,ZA,-33.5906,26.8910,68.56,85,68,13.94,broken clouds
34,34,Berwick,US,41.0545,-76.2333,70.00,71,100,7.31,overcast clouds
43,43,Hermanus,ZA,-34.4187,19.2345,73.00,72,95,5.01,overcast clouds
45,45,Bethel,US,41.3712,-73.4140,73.40,53,1,8.05,clear sky
47,47,Antofagasta,CL,-23.6500,-70.4000,73.00,72,20,16.11,few clouds
49,49,Albany,US,42.6001,-73.9662,71.01,70,80,2.57,broken clouds
55,55,Mar Del Plata,AR,-38.0023,-57.5575,66.20,100,90,13.80,moderate rain

In [18]:
# 4a. Determine if there are any empty rows.
hotel_df[hotel_df.isnull().all(axis=1)]

Empty DataFrame
Columns: [City_Id, City, Country, Lat, Lng, Max Temp, Humidity, Cloudiness, Wind Speed, Current Description]
Index: []

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
hotel_df.dropna(0)
hotel_df.head()

,City_Id,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Aswan,EG,24.0934,32.9070,67.42,21,0,16.33,clear sky
23,23,Touros,BR,-5.1989,-35.4608,73.40,100,90,3.44,overcast clouds
24,24,Casma,CL,-41.0082,-73.1244,66.20,37,0,10.36,clear sky
30,30,Port Alfred,ZA,-33.5906,26.8910,68.56,85,68,13.94,broken clouds
34,34,Berwick,US,41.0545,-76.2333,70.00,71,100,7.31,overcast clouds

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy().reset_index(drop=True)

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Aswan,EG,67.42,clear sky,24.0934,32.9070,
1,Touros,BR,73.40,overcast clouds,-5.1989,-35.4608,
2,Casma,CL,66.20,clear sky,-41.0082,-73.1244,
3,Port Alfred,ZA,68.56,broken clouds,-33.5906,26.8910,
4,Berwick,US,70.00,overcast clouds,41.0545,-76.2333,

In [21]:
# 6a. Set parameters to search for a hotel within 5000 meters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

# 6b.  Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    #6c. Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    #6d. Set up the base URL for the Google Directions API to get JSON data.
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #6e. Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    #6f. Get the first hotel from the results and store the name, 
    #    if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Aswan,EG,67.42,clear sky,24.0934,32.9070,Nuba Nile
1,Touros,BR,73.40,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
2,Casma,CL,66.20,clear sky,-41.0082,-73.1244,Hospedaje Casma
3,Port Alfred,ZA,68.56,broken clouds,-33.5906,26.8910,The Halyards Hotel
4,Berwick,US,70.00,overcast clouds,41.0545,-76.2333,The White Birch Inn B & B
...,...,...,...,...,...,...,...
112,Rawson,AR,69.21,clear sky,-43.3002,-65.1023,Hosteria Sampedro
113,Iquique,CL,71.60,clear sky,-20.2208,-70.1431,Backpacker`s Hostel Iquique
114,Pemangkat,ID,74.77,overcast clouds,1.1667,108.9667,Kost H.Syamsuddin
115,Kaeo,NZ,67.19,overcast clouds,-35.1000,173.7833,Bushido Lodge
116,Ishigaki,JP,70.14,clear sky,24.3448,124.1572,Hotel Peace Land Ishigakijima

In [23]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna(subset=["Hotel Name"])

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Aswan,EG,67.42,clear sky,24.0934,32.9070,Nuba Nile
1,Touros,BR,73.40,overcast clouds,-5.1989,-35.4608,INN NEW HORIZON
2,Casma,CL,66.20,clear sky,-41.0082,-73.1244,Hospedaje Casma
3,Port Alfred,ZA,68.56,broken clouds,-33.5906,26.8910,The Halyards Hotel
4,Berwick,US,70.00,overcast clouds,41.0545,-76.2333,The White Birch Inn B & B
...,...,...,...,...,...,...,...
112,Rawson,AR,69.21,clear sky,-43.3002,-65.1023,Hosteria Sampedro
113,Iquique,CL,71.60,clear sky,-20.2208,-70.1431,Backpacker`s Hostel Iquique
114,Pemangkat,ID,74.77,overcast clouds,1.1667,108.9667,Kost H.Syamsuddin
115,Kaeo,NZ,67.19,overcast clouds,-35.1000,173.7833,Bushido Lodge
116,Ishigaki,JP,70.14,clear sky,24.3448,124.1572,Hotel Peace Land Ishigakijima

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_Id")

In [25]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template 
# and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))